### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Any random value for your app
NEXTAUTH_SECRET=

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=""  #backend base url for API


#Social Login Auth Keys
TWITTER_API_KEY=""
TWITTER_API_SECRET=""
INSTAGRAM_CLIENT_ID=""
INSTAGRAM_CLIENT_SECRET=""
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""